[submodule "dist/node/modules/forkedOutPromise"]
	path = dist/node/modules/forkedOutPromise
	url = https://github.com/fbarda/ForkedOutPromiseJS.git
[submodule "dist/node/modules/asyncArrayUtils"]
	path = dist/node/modules/asyncArrayUtils
	url = https://github.com/fbarda/asyncArrayUtils.git
[submodule "dist/web/example/scripts/PrimeHunter/modules/asyncArrayUtils"]
	path = dist/web/example/scripts/PrimeHunter/modules/asyncArrayUtils
	url = https://github.com/fbarda/asyncArrayUtils.git
[submodule "dist/web/example/scripts/PrimeHunter/modules/controlledPromise"]
	path = dist/web/example/scripts/PrimeHunter/modules/controlledPromise
	url = https://github.com/fbarda/ForkedOutPromiseJS.git
